#cards-div {
    width: 100%;
    height: 100%;
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando es necesario */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    color: black;
}

.card {
    /* Añade estilos para las cards aquí según tus necesidades */
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    /* Otros estilos... */
}

#form-title-complete {
    padding: 0;
    width: 1200px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(5, 5, 5);
    background: #4cff31;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.5vmin solid #05060f;
    box-shadow: 0.4rem 0.4rem #05060f;
    overflow: hidden;
    color: rgb(0, 0, 0);
  }
  
  #form-title-complete span {
    font-size: 40px;
    margin: 0 25px 0 0;
  }