#div-add {
  margin: 0;
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
  padding: 0%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#form-title {
  padding: 0;
  width:  1200px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(5, 5, 5);
  background: #ffc400;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.5vmin solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  overflow: hidden;
  color: rgb(0, 0, 0);
}

#form-title span {
  font-size: 40px;
  margin: 0 25px 0 0;
}

.form_div {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
}

.div_inputs {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.div_inputs span {
  position: relative;
  font-size: 50px;
  left: 40px;
}

.input_form {
  --input-focus: #e7a900;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 20px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.input_form::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input_form:focus {
  border: 2px solid var(--input-focus);
}

.wrapper {
  --font-color-dark: #323232;
  --font-color-light: #fff;
  --bg-color: #fff;
  --main-color: #323232;
  position: relative;
  width: 700px;
  height: 40px;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px var(--main-color);
  justify-content: space-evenly;
}

.option {
  width: 120px;
  height: 35px;
  position: relative;
  top: 2px;
  left: 2px;
}

.input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  cursor: pointer;
}

.btn {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span_options {
  color: var(--font-color-dark);
}

.input:checked + .btn {
  background-color: var(--main-color);
}

.input:checked + .btn .span_options {
  color: var(--font-color-light);
}

#span_id {
  font-size: 40px;
  margin: 0 20px 0 20px;
}

#span_id_2 {
  font-size: 40px;
  margin: 0 20px 0 20px;
}

.option_div p {
  font-size: 20px;
}

.option_div {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#form_button,
#form_button:focus {
  font-size: 17px;
  padding: 10px 25px;
  border-radius: 5px;
  background-image: linear-gradient(rgb(252, 243, 220), rgb(255, 238, 192));
  border: 2px solid rgb(50, 50, 50);
  border-bottom: 5px solid rgb(50, 50, 50);
  transform: translate(0, -3px);
  transition: 0.2s;
  transition-timing-function: linear;
  width: 600px;
  cursor: pointer;
  font-weight: bolder;
}

#form_button:hover {
  background-image: linear-gradient(rgb(255, 228, 159), rgb(252, 198, 47));
}

#form_button:active {
  transform: translate(0, 0);
  border-bottom: 2px solid rgb(50, 50, 50);
}

.custom-wrapper {
  --font-color-dark: #323232;
  --font-color-light: #fff;
  --bg-color: #fff;
  --main-color: #323232;
  position: relative;
  width: 700px;
  height: 40px;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px var(--main-color);
  justify-content: space-evenly;
}

.custom-option {
  width: 120px;
  height: 35px;
  position: relative;
  top: 2px;
  left: 2px;
}

.custom-input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  cursor: pointer;
}

.custom-btn {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-span_options {
  color: var(--font-color-dark);
}

.custom-input:checked + .custom-btn {
  background-color: var(--main-color);
}

.custom-input:checked + .custom-btn .custom-span_options {
  color: var(--font-color-light);
}

.color-wrapper {
  --font-color-dark: #323232;
  --font-color-light: #fff;
  --bg-color: #fff;
  --main-color: #323232;
  position: relative;
  width: 700px;
  height: 40px;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px var(--main-color);
  justify-content: space-evenly;
}

.color-option {
  width: 120px;
  height: 35px;
  position: relative;
  top: 2px;
  left: 2px;
}

.color-input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  cursor: pointer;
}

.color-btn {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-span_options {
  color: var(--font-color-dark);
}

.color-input:checked + .color-btn {
  background-color: var(--main-color);
}

.color-input:checked + .color-btn .color-span_options {
  color: var(--font-color-light);
}
